.App {
  text-align: center;
  background: linear-gradient(rgba(241, 235, 235, 0.5), rgb(240, 237, 237))
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imgSize{
max-width: 200px;
max-height: 300px;
border-radius: 10px;

}

.articleTitle{
  font-size:1em;
}

#singleArticleImage{
  border-bottom:double;
  padding:1rem;
}

.articleCard{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(-3, 10vw);
  grid-gap: 20px;
}

#singleArticleAuthor {
display:block;
text-align: left;
justify-content: left;
position:absolute;
}

#topic{
text-align: left;
position:absolute;
}

#descriptionHead{

text-align: left;

}
 
#descriptionBody{
background-blend-mode: hard-light;
background-color:floralwhite;

}

.nav {
  display: flex;
  font-size:medium;
  justify-content:space-evenly;
  color: White;
  border: 1px solid White;
  width: 40rem;
  background-color: black;
  margin-top: 20px;
  padding: 0.5%;
  padding-left: 0px;
  border-radius: 5px;
  margin: 0 auto;
}

#articleList {
  list-style-type: none;
}

.commentList {
  list-style-type: none;
  border-style: double;
  text-size-adjust:inherit
}

#commentUser {
  text-align: left;
}

#commentDate {
text-align: left;
}

#commentVote{
  text-align: right;
  padding:1rem;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


