/* Mobile first design */

*{
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
}
  
.header{
text-decoration: none;
color:firebrick;
background-color:black
}


#navHome{
  background-color:white;
}

#navTopic{
  background-color: white;
}

#navUser{
background-color: white;
}


.nav {
  display:flex;
  justify-content:space-evenly;
  color:firebrick;
  background-color:white;
  border-radius: 2px;

  }
  
.nav a {
  text-decoration:solid;
  color:black;
  background-color:white;
}

.nav a:hover{
  color:crimson;
}


.imgSize{
max-width: 100%;
max-height: auto;
border-radius: 40px;
}
  
.imgSize:hover{
border: solid 4px black;
 margin: -2px;
}

.articleTitle{
font-size: 1rem;
color:white;
}
  
.articleTitle:hover{
color:crimson;
}
  

  #singleArticleImage{
  border-bottom: double;
  padding: 1rem;
  }
  
  .articleCard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  color:white;
  }

  .articleVotesBtn{
    border-radius: 20px;
    color:white;

  }

  #singleArticleAuthor {
  text-align: left;
  color: white;
  }
  
  #topic{
  text-align: left;
  color: white;
  }
  
  #descriptionHead{
  text-align: left;
  color: white;
  }
  
  #descriptionBody{
  background-color: black;
  color:white;

  }
  

  #articleList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }

  #articleVotesCount{
    color:white;
  }

  .articleVoteEmoji{
    color:white;
    border-color:grey;
    background-color:grey;
  }
  
  #commentCount{
    color:white;
  }

  .commentVote{
    text-align: right;
    padding:1rem;
    color:white;
    }

  .commentLabel{
color: white;
  }

  .commentList {
  list-style-type: none;
  border-style: double;
  padding: 0;
  margin: 0;
  color:white;
  }
  
  
  .commentUser {
  text-align: left;
  color:white;
  }
  
  .commentDate {
  text-align: left;
  color:white;
  }
  
  .textCommentArea{
    color: black;
    text-align: left;
    border: 1rem;
    border-color:grey;
    background-color:whitesmoke;
}

  #name{
    text-align: left;
    color:white;
  }


.commentSubmitBtn{
  color:white;
  border-radius: 10px;
  border-color: white;
}

#voteErrorMsg{
color:red;
}


  /* Media queries */
  
  @media only screen and (min-width: 600px) {

  .articleCard{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    }
  
  #singleArticleAuthor {
  position: static;
  color:white;
  }
  
  #topic{
  position: static;
  color:white;
  }
  
  #descriptionHead{
  font-size: 1.5rem;
  color:white;
  }
  
  #descriptionBody{
    background-blend-mode: hard-light;
    color:white;
    border-style:solid;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    }
  
  }