*{
  background-color: white;
}

.App {
  background-color: white
}
  
.header{
text-decoration: none;
color:black;
background-color:white
}


#navHome{
  background-color:white;
 margin:0.5rem
}

#navNews{
  background-color: white;
  margin:0.5rem
  }

#navTopic{
  background-color: white;
  margin:0.5rem
}

#navUser{
background-color: white;
margin:0.5rem
}


.nav {
  display:flex;
  justify-content: flex-end;
  color: firebrick;
  background-color: white;
  margin:10px;
}

  
.nav a {
  text-decoration:solid;
  color:black;
  background-color:white;
}

.nav a:hover{
  color:crimson;
}

.imgSize{
  max-width: 100%;
  max-height: auto;
  border-radius: 40px;
  }

  
.imgSize:hover{
border: solid 4px black;
 margin: -2px;
}

.articleTitle{
font-size: 1rem;
color: black
}
  
.articleTitle:hover{
color:crimson;
}
  

  #singleArticleImage{
  padding: 1rem;
  }
  
  .articleCard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  color:white;
  }

  .articleVotesBtn{
    border-radius: 20px;
    color:white;
    justify-content: center;
  }

  #singleArticleAuthor {
  text-align: center;
  color: black;
  }
  
  
  #descriptionHead{
  text-align: center;
  color: black;
  }
  
  #descriptionBody{
  background-color: white;
  color:black;

  }
  

  #articleList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }

  #articleVotesCount{
    color:black;
  }

  .articleVoteEmoji{
    color:Black;
    border-color:grey;
    background-color:grey;
  }
  
  #commentCount{
    color:black;
  }

  .commentVote{
    text-align: right;
    padding:1rem;
    color:black;
    }

  .commentLabel{
color: black;
  }

  .commentList {
  list-style-type: none;
  border-style: double;
  padding: 0;
  margin: 0;
  color:black;
  }
  
  
  .commentUser {
  text-align: left;
  color:black;
  }
  
  .commentDate {
  text-align: left;
  color:black;
  }
  
  .textCommentArea{
    color: black;
    text-align: left;
    border: 1rem;
    border-color:grey;
    background-color:whitesmoke;
}

.nameInput{
  color: black;
  text-align: left;
  border: 1rem;
  border-color:grey;
  background-color:whitesmoke;
}


  #name{
    text-align: center;
    color:white;
  }


.commentSubmitBtn{
  color:black;
  border-radius: 10px;
  border-color: black;
}

#voteErrorMsg{
color:red;
}

.dropDownTopics{
  color:black;
  background:transparent;
}

.topicOptions{
  color: black;
  background-color: white;
}

#topicLabel{
  color:black;
}

.topicSubmitBtn {
  color:black;
  background-color: white;
}

.introParagraph{
  display:flex;
  justify-content: left;
  text-align: left;
}
.HomeArticleCard{
  justify-content: left;
}


  /* Media queries */
  
  @media only screen and (min-width: 600px) {

  .articleCard{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    }
  
  #singleArticleAuthor {
  position: static;
  color:black;
  text-align: left;
  }
  
  #topic{
  position: static;
  color:black;
  text-align: left;
  }
  
  #descriptionHead{
  font-size: 1.5rem;
  color:black;
  }
  
  #descriptionBody{
    background-blend-mode: hard-light;
    color:black;
    border-style:double;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    }
  
  }