*{
  background-color: white;
  text-decoration: none;
}

.introParagraph{
  justify-content: left;
  margin: 1rem;
  padding: 0.5rem;
  text-align: left;
}

.App {
  background-color: white;
  text-align: center;
}
  
.header{
  color:black;
  background-color:darkslategray;
  padding:1.5rem;
  margin: 1rem;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .header {
    text-align: left;
  }
}

#navHome{
background-color:white;
margin:0.5rem
}

#navNews{
background-color: white;
margin:0.5rem
}

#navTopic{
background-color: white;
margin:0.5rem
}

#navUser{
background-color: white;
margin:0.5rem
}

.nav {
display:flex;
justify-content: flex-end;
background-color: white;
text-decoration: none;
margin:10px;
}

  
.nav a {
text-decoration:none;
color:black;
background-color:white;
}

.nav a:hover{
color:darkslategray;
}

/* Each articles image in NEWS tab */
.imgSize{
max-width: 100%;
max-height: 100%;
border-radius: 10px;
margin-right: 2rem;
margin-left: -1rem;
}

.imgSize:hover{
border: solid 4px black;
margin: -auto;
}

  

#singleArticleImage {
padding: 0;
height: auto;
max-width: 100%;
}


/* All Articles in NEWS tabs */
.articleCard{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
}

.articleTitle{ 
font-size: 1rem;
color: black;
max-width: 100%;
max-height: 100%;
margin-right: 2rem;
margin-left: -1rem;
}
    
.articleTitle:hover{
color:darkslategray;
}


.articleVotesBtn{
border-radius: 20px;
color:white;
justify-content: center;
text-align: center;
}

#singleArticleAuthor {
text-align: center;
color: black;
}
  
  
#descriptionHead{
  text-align: center;
  color: black;
  text-align: left;
  }
  
#descriptionBody{
  background-color: white;
  color:black;
  }
  

  #articleVotesCount{
    color:black;
    text-align: center;
  }

  .articleVoteEmoji{
    color:Black;
    border-color:grey;
    background-color:grey;
    text-align: center;
    justify-content: center;
  }

  
  #commentCount{
    color:black;
    justify-content: center;
    text-align: center;
  }

  .commentTitle{
  justify-content: flex-start; 
  text-align: center;
  }

  .commentVote{
    text-align: right;
    padding:1rem;
    color:black;
    }

  .commentLabel{
color: black;
text-align: center;
  }

  .commentList {
  list-style-type: none;
  border-style: double;
  color:black;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  }
  
  
  .commentUser {
  text-align: left;
  color:black;
  }
  
  .commentDate {
  text-align: left;
  color:black;
  }
  
  .textCommentArea{
    color: black;
    text-align: left;
    border: 1rem;
    border-color:grey;
    background-color:whitesmoke;
}

.nameInput{
  color: black;
  text-align: left;
  border: 1rem;
  border-color:grey;
  background-color:whitesmoke;
}

  #name{
    text-align: center;
    color:white;
  }


.commentSubmitBtn{
  color:black;
  border-radius: 10px;
  border-color: black;
  text-align: center;
}

#voteErrorMsg{
color:red;
}

.dropDownTopics{
  color:black;
  background:transparent;
}

.topicOptions{
  color: black;
  background-color: white;
}

#topicLabel{
  color:black;
}

.topicSubmitBtn {
  color:black;
  background-color: white;
}

.HomeArticleTitle{
text-align: center;
margin: 1rem;
}

/*First home article card*/
.homeArticleCard0 {
  height: 60px;
  width: 60px; 
}

/*Second home article card*/
.homeArticleCard1 {
  height: 60px;
  width: 60px; 
}

/*Third home article card*/
.homeArticleCard2 {
  height: 60px;
  width: 60px; 
}

.HomeArticleImg{
  max-width: 100%;
  height: auto;
}


/*Adjust Home article Images sizing*/
@media screen and (max-width: 767px) {
  .HomeArticleImg {
    max-width: 100%;
    max-height: 100%;
    margin-right: 1rem;
    margin-left: -1rem;
  }
}

.commentSection {
  margin-top: 1rem;
}

.commentList {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;

}

@media (max-width: 767px) {
  .commentList {
    font-size: 0.8rem;
  }
}


  /* Media queries */
  
  @media only screen and (min-width: 600px) {

  .articleCard{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    }

  
  #singleArticleAuthor {
  position: static;
  color:black;
  text-align: left;
  }


  #topic{
  position: static;
  color:black;
  text-align: left;
  }
  
  #descriptionHead{
  font-size: 1.5rem;
  color:black;
  }
  
  #descriptionBody{
    background-blend-mode: hard-light;
    color:black;
    border-style:double;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    }
  
  }