*{
  background-color: white;
}

.introParagraph{
  justify-content: left;
  margin:0.5rem;
  padding: 0.5rem;
  text-align: left;

}

.App {
  background-color: white;
  text-align: center;
}
  
.header{
text-decoration: none;
color:black;
background-color:blanchedalmond;
padding:1.5rem;
margin: 1rem;
text-align: left;
}


#navHome{
background-color:white;
margin:0.5rem

}

#navNews{
background-color: white;
margin:0.5rem
}

#navTopic{
background-color: white;
margin:0.5rem
}

#navUser{
background-color: white;
margin:0.5rem
}


.nav {
  display:flex;
  justify-content: flex-end;
  background-color: white;
  margin:10px;
}

  
.nav a {
  text-decoration:solid;
  color:black;
  background-color:white;
}

.nav a:hover{
  color:crimson;
}

/* All articles images in News Page */
.imgSize{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  }

  
.imgSize:hover{
border: solid 4px black;
 margin: -2px;
}

/* All articles in News Page */
.articleTitle{ 
font-size: 1rem;
color: black
}
  
.articleTitle:hover{
color:crimson;
}
  

#singleArticleImage{
padding: 0.5rem;
}


/* Articles in News Page layout */
.articleCard{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
}

.articleVotesBtn{
border-radius: 20px;
color:white;
justify-content: center;
text-align: center;
}

#singleArticleAuthor {
text-align: center;
color: black;
}
  
  
  #descriptionHead{
  text-align: center;
  color: black;
  text-align: left;
  }
  
  #descriptionBody{
  background-color: white;
  color:black;
  }
  

  #articleVotesCount{
    color:black;
    text-align: center;
  }

  .articleVoteEmoji{
    color:Black;
    border-color:grey;
    background-color:grey;
    text-align: center;
    justify-content: center;
  }

  
  #commentCount{
    color:black;
    justify-content: center;
    text-align: center;
  }

  .commentTitle{
  justify-content: flex-start; 
  text-align: center;
  }

  .commentVote{
    text-align: right;
    padding:1rem;
    color:black;
    }

  .commentLabel{
color: black;
text-align: center;
  }

  .commentList {
  list-style-type: none;
  border-style: double;
  padding: 0;
  margin: 0;
  color:black;
  }
  
  
  .commentUser {
  text-align: left;
  color:black;
  }
  
  .commentDate {
  text-align: left;
  color:black;
  }
  
  .textCommentArea{
    color: black;
    text-align: left;
    border: 1rem;
    border-color:grey;
    background-color:whitesmoke;
}

.nameInput{
  color: black;
  text-align: left;
  border: 1rem;
  border-color:grey;
  background-color:whitesmoke;
}

  #name{
    text-align: center;
    color:white;
  }


.commentSubmitBtn{
  color:black;
  border-radius: 10px;
  border-color: black;
  text-align: center;
}

#voteErrorMsg{
color:red;
}

.dropDownTopics{
  color:black;
  background:transparent;
}

.topicOptions{
  color: black;
  background-color: white;
}

#topicLabel{
  color:black;
}

.topicSubmitBtn {
  color:black;
  background-color: white;
}

.homeArticleCard0 {
  height:auto;
  width: auto;
}

.homeArticleCard1 {
  height:60%;
  width: 60%; 
}

.homeArticleCard2 {
  height: 60px;
  width: 60px; 
}


  /* Media queries */
  
  @media only screen and (min-width: 600px) {

  .articleCard{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    }
  
  #singleArticleAuthor {
  position: static;
  color:black;
  text-align: left;
  }
  
  #topic{
  position: static;
  color:black;
  text-align: left;
  }
  
  #descriptionHead{
  font-size: 1.5rem;
  color:black;
  }
  
  #descriptionBody{
    background-blend-mode: hard-light;
    color:black;
    border-style:double;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    }
  
  }